<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ninjacrouchingright.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 48}, {108, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjaidleleft.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {100, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjaidleright.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 20}, {102, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningcrouchingleft.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 48}, {108, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {82, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 20}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 0}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 16}, {82, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {96, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 17}, {96, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {84, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {82, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 142}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {74, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 18}, {74, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 8}, {84, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {96, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 12}, {84, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {72, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningleft0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {74, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 284}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 15}, {82, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {96, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {96, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 20}, {84, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 426}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 22}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 22}, {74, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {74, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 9}, {84, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {96, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 568}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 710}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 12}, {84, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 710}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 22}, {72, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 710}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninjarunningright0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {76, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{120, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 710}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>zwoptexninjafileregular</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>ninjaspritesheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>ninjaspritesheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>